################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/DistributedSystems/v16
/WebSocketExample/.vs/WebSocketExample/v16
/.vs
/WebSocketExample/.vs
